.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    text-align: center;
}

hr.wp-block-separator {
    margin: 6rem auto;
}
hr.wp-block-separator_last {
    margin: 2rem auto;
}

#start{
    padding-top: 110px;
}
/*
#about_me {
    padding-top: 100px;
}
*/
/*
#testing {
    padding-top: 100px;
}
*/
/*
#education{
    color: aqua;
    padding-top: 100px;
}
*/
/*
#experience {
    padding-top: 100px;
}
*/
/*
#skills {
    padding-top: 100px;
}
*/
/*
#languages {
    padding-top: 100px;
}
*/
h1, h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

#about_me_image {
    padding-top: 100px;
    object-fit: cover;
    height: 600px;
    
}
#photos {
    text-align: center;
}

#photo_about {
    background-image: url(images/about_me_photo1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#photo_testing {
    background-image: url(images/testing_photo.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#photo_education {
    background-image: url(images/education_photo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#photo_experience {
    background-image: url(images/experience_photo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#photo_skills {
    background-image: url(images/skills_photo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#photo_last {
    background-image: url(images/last_photo1.JPEG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#experience_margin, #experience_margin_1, #experience_margin_2 {
    margin: 1em auto;
}
#education_margin, #education_margin_1, #education_margin_2 {
    margin: 1em auto;
}

h3#experience {
    color: #78dfe4;
    text-align: left;
}

.centereowanie {
    text-align: center;
    margin: 1em auto;
}
.centereowanie_other {
    text-align: center;
    margin: 0.5em auto;
}

header img {
    border: 5px solid rgb(0, 0, 0);
    transition: ease-in-out 1s;
}

header img:hover {
    border-color: rgb(255, 255, 255);
}

section span {
    display: inline-block;

    color: aqua;
    border: 2px solid aqua;
    padding: 5px 8px;

    margin: 5px;

    border-radius: 8px;
    font-size: 0.8rem;
}
.circle {
    width:250px;
    height: 250px;
    border-radius: 50%;
}

header {    
    min-height: 500px;
    background-image: url(images/background_photo2.jpg); 
    background-size: cover; 
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}

/*
body {    
    background: url("body2.jpg") 
    no-repeat 50% 50%;    
    background-size: cover; 
}
*/